<!doctype html public "-//w3c//dtd html 3.2 //en">
<html>

    <head>
        <title>ParentPortal v0.1</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body style="background-color:#111144;">
    <div class="container">
        <h1 style="color:white;">Gate Mode</h1>
        <h4 style="color:#bbbbcc;">Current Mode: <span style="color:white;">{{a}}</span></h4>
        <h5 style="color:#bbbbcc;">Set New Mode</h5>

        <div class="btn-group-vertical" role="group">
            <a class="btn btn-primary" href="./mode/active">Active</a>
            <a class="btn btn-primary" href="./mode/secure">Secure</a>
            <a class="btn btn-primary" href="./mode/off">Off (open gate)</a>
            <a class="btn btn-danger" href="./mode/aggro">!!Aggressive!!</a>
        </div><br/><br/>

        <a href="./menu">Back to Menu</a><br/>
        
        <h6 style="color:white;">2018 CODFISH, Cortana</h6>
    </div>
    </body>
    
</html>
