<!doctype html public "-//w3c//dtd html 3.2 //en">
<html>

    <head>
        <title>ParentPortal v0.1</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body style="background-color:#111144;">
    <div class="container">
        <h1 style="color:white;">Register Your Account</h1>
        <h5 style="color:#bbbbcc;">Please enter a username and password:</h5>

        <form action="/done" method="POST" style="color:white;" autocomplete="off"> 
            Username:<br>
            <input type="text" name="username" style="color:black;"><br>
            Password:<br>
            <input type="password" name="password" style="color:black;"><br>
            Confirm Password:<br>
            <input type="password" name="confirm" style="color:black;"><br>
            Enter your Gate ID:<br>
            <input type="text" name="ID_check" style="color:black;"><br><br>
            <input type="submit" value="Register" class="btn btn-primary">
        </form><br/>

        <a href="./">Back to Login</a><br/>

        <h6 style="color:white;">2018 CODFISH, Cortana</h6>
    </div>
    </body>
 
</html> 
